.players-list {
  tbody {
    tr {
      cursor: pointer;
      transition: background 0.3s linear;
      &:hover {
        background-color: #fbfbfb;
      }
    }
  }
}
#orangeBox {
  background: white;
  color: #2a4280;
  font-size: 2em;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.shot-chart {
  margin-top: 70px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}
.paper {
  padding: 40px;
  display: flex;
  overflow: auto;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 500px;
  .upload-file-btn {
    margin-top: 40px;
    background-color: #25d56f;
    color: #fff;
    &:hover {
      background-color: #6be39d;
    }
  }

  .file-info {
    span {
      font-size: 18px;
    }
  }
}

.container {
  .chartjs-render-monitor{
    display: block;
    width: 105px;
    height: 400px
  }
}
.progress-container {
  .chartjs-render-monitor{
    display: block;
    width: 582px;
    height: 290px;
  }
  
}
.hex1:before {
  content: " ";
  width: 0; height: 0;
  border-bottom: 10px solid #C7DCE5;
  border-left: 17.3333px solid transparent;
  border-right: 17.3333px solid transparent;
  position: absolute;
  top: -10px;
}

.hex1 {
  margin-top: 20px;
  width: 34.6666px;
  height: 20px;
  background-color: #C7DCE5;
  position: relative;
}

.hex1:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -10px;
  border-top: 10px solid #C7DCE5;
  border-left: 17.3333px solid transparent;
  border-right: 17.3333px solid transparent;
}




.hex2:before {
  content: " ";
  width: 0; height: 0;
  border-bottom: 10px solid #85C1E9;
  border-left: 17.3333px solid transparent;
  border-right: 17.3333px solid transparent;
  position: absolute;
  top: -10px;
}

.hex2 {
  margin-top: 20px;
  width: 34.6666px;
  height: 20px;
  background-color: #85C1E9;
  position: relative;
}

.hex2:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -10px;
  border-top: 10px solid #85C1E9;
  border-left: 17.3333px solid transparent;
  border-right: 17.3333px solid transparent;
}

.hex3:before {
  content: " ";
  width: 0; height: 0;
  border-bottom: 10px solid #1C346E;
  border-left: 17.3333px solid transparent;
  border-right: 17.3333px solid transparent;
  position: absolute;
  top: -10px;
}

.hex3 {
  margin-top: 20px;
  width: 34.6666px;
  height: 20px;
  background-color: #1C346E;
  position: relative;
}

.hex3:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -10px;
  border-top: 10px solid #1C346E;
  border-left: 17.3333px solid transparent;
  border-right: 17.3333px solid transparent;
}