.players-list {
  tbody {
    tr {
      cursor: pointer;
      transition: background 0.3s linear;
      &:hover {
        background-color: #fbfbfb;
      }
    }
  }
}
#orangeBox {
  background: white;
  color: #2a4280;
  font-size: 2em;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.shot-chart {
  margin-top: 70px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}
.paper {
  padding: 40px;
  display: flex;
  overflow: auto;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 500px;
  .upload-file-btn {
    margin-top: 40px;
    background-color: #25d56f;
    color: #fff;
    &:hover {
      background-color: #6be39d;
    }
  }

  .file-info {
    span {
      font-size: 18px;
    }
  }
}

.container {
  .chartjs-render-monitor{
    display: block;
    width: 105px;
    height: 400px
  }
}
.progress-container {
  .chartjs-render-monitor{
    display: block;
    width: 582px;
    height: 290px;
  }
  
}
